*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
div.container{
  width:100%;
  margin:0 auto;
  position: relative;
} 
nav{
  background-color: rgb(255, 255, 255);
}

header ul{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
header li{
  border: 2px solid white;
  line-height: 6em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-variant: small-caps;
  flex: 1;
}
header a{
  color: rgb(91, 74, 49);
  display: block;
  font-size: 20px;
}
li.logo{
  flex: 2;
}
li.logo a{
  font-size: 36px;
}

.our-story-header{
  text-align: center;
  color: rgb(162, 107, 4);
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  font-size: 20px;
} 

aside img{
  width: 100%
}
aside{
  display: flex; 
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}
div.left, div.middle, div.right{
  width: 40%;
}
.our-story-main{
  margin: 2% 10% 5% 10%
}

.p1{
  margin-bottom: 2em;
}
.p2{
  margin-bottom: 2em;
}
.p3{
  margin-bottom: 2em;
}
.our-story-main p{
  line-height: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(83, 59, 3);
}




footer{
  background-color: rgb(142, 117, 85);
  width: 100%;
  line-height: 2em;
}

.contact ul{
  text-align: left;
  padding: 15px 50px;
}
.contact li{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.contact a{
  color: white;
}


.socials ul{
  text-align: left;
  padding-left: 50px;
  padding-bottom: 50px;
}
.socials li{
  display: inline-block
}
.socials a{
  color: white;
  padding-inline-end: 20px;
  font-size: 20px;
}

@media screen and (max-width: 760px){
  li.logo a{
    font-size: 25px;
  }
  
}

@media screen and (max-width: 530px){
  nav{
    background-color: rgb(112, 86, 47);
  }
  header ul{
    display: block;
  }
  header li{
    line-height: 2em;
  }
  header a{
    color: white;
  }
  .logo{
    display: none;
  }
  
}


